<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlDatabase.Properties.Settings.SecureCode" connectionString="Data Source=&quot;tcp:storm.ddns.net, 1450&quot;;Initial Catalog=SecureCode;Persist Security Info=True;User ID=SA;Password=9Yn3TAQxx3W5U9DL"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>