<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="User.Properties.Settings.DarkCore" connectionString="Data Source=KAROLCHALE\SQLEXPRESS;Initial Catalog=DarkCore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="User.Properties.Settings.DarkCoreConnection" connectionString="Data Source=DESKTOP-1R4FJM3\SQLEXPRESS;Initial Catalog=DarkCore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>